<section>
    <div class="songAudio">
        <audio controls autoplay loop>
            <source src = "/assets/mp3/RashSong.mp3" type = "audio/mpeg">
        </audio>
    </div>

    <div class="card">
        <div style="position:relative">
            <div class="name">Vikshitha</div>
            <div class="heart-symbol"> &#10084;</div>
            <div class="name">Abhishek</div>
        </div>
    </div>
  
    <div class="timer">
        <div class="time">
            <div>{{data.days}}</div>
            <div class="type">DAYS</div>
        </div>
  
        <div class="time">
            <div>{{data.hours}}</div>
            <div class="type">HOURS</div>
        </div>
  
        <div class="time">
            <div>{{data.minutes}}</div>
            <div class="type">MINUTES</div>
        </div>
  
        <div class="time">
            <div>{{data.seconds}}</div>
            <div class="type">SECONDS</div>
        </div>
    </div>
  
    <div class="card-bottom">
        <h2 class="title">We are getting hitched!!</h2>
        <h1 class="sub-title">
            Glad to invite you to our Wedding ceremony</h1>
        <p>
            on Sunday, December 29, 2022, 11:30 AM onwards
        </p>
        <p>
            Sheshashayana Hall, Kidiyoor Hotel, Udupi
        </p>
        <a href="/assets/inviatation/MEHENDI.png" download="Mehendi_Invitation | 27 DEC | Hope to see you there!">
            <button class="clickToShowInfo">
                <h2>MEHENDI INVITATION</h2>
            </button>
          </a>
          <a href="/assets/inviatation/marriage_invite.JPG" download="Wedding_Invitation | 29 Dec | Hope to see you there!">
            <button class="clickToShowInfo">
                <h2>WEDDING INVITATION</h2>
            </button>
          </a>
          
          <div class="actions">
            <a href="https://maps.app.goo.gl/9VckdoAcxhs1nmZs8?g_st=iw" target="_blank">
              <div class="venue">MEHENDI VENUE</div>
            </a>
          </div>

          <div class="actions">
            <a href="https://maps.app.goo.gl/Br7RJe5xL4eyyvWHA?g_st=iw" target="_blank">
            <div class="venue">WEDDING VENUE</div>
          </a>
        </div> 

  
        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h3 class="animate-charcter"> Can't wait to celebrate auspicious moment of our family with you!!</h3>
            </div>
            </div>
          </div>
  
    </div> 
    <div class="card-footer">
        Developed by <span class="brand">@Rashni </span> </div>




    <div style="height: 1rem;"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/gh/timoschaefer/jQuery-Sakura/jquery-sakura.min.js'></script>
    <script  src="./js/script.js"></script>
  </section>